<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="apiKey" value="iVqM0ie8PbyE7oXPtRmL~--vJKtNYS4qH_zkWXOvJiw~AkktCyr1NG2BrWPVQuClbuUmJNiDu9cabSPKfqx107GzLNP3NzTtWRu8gVsrKbfX" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.CommandLine" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventLog" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Console" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Debug" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventSource" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3460.0.54" newVersion="19.3460.0.54" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="Model2" connectionString="DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities5" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities6" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities7" connectionString="metadata=res://*/Views.Model2.csdl|res://*/Views.Model2.ssdl|res://*/Views.Model2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities8" connectionString="metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities9" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities10" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities11" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities12" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities13" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
    <add name="UserEntities" connectionString="metadata=res://*/C##UserModel.csdl|res://*/C##UserModel.ssdl|res://*/C##UserModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=C##User;PERSIST SECURITY INFO=True;USER ID='&quot;&quot;C##USER&quot;&quot;'&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminEntities" connectionString="metadata=res://*/C##AdminModel.csdl|res://*/C##AdminModel.ssdl|res://*/C##AdminModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=C##Admin;PERSIST SECURITY INFO=True;USER ID='&quot;&quot;C##ADMIN&quot;&quot;'&quot;" providerName="System.Data.EntityClient" />
    <add name="Tables" connectionString="metadata=res://*/Tables.csdl|res://*/Tables.ssdl|res://*/Tables.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=DEMID;TNS_ADMIN=C:\Oracle21c2\homes\OraDB21Home2\network\admin;PASSWORD=system;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <implicitRefCursor>
        <storedProcedure schema="SYSTEM" name="TESTSELECT">
          <refCursor name="NEW_USERS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERLOGIN" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="USERPASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SYSTEM" name="CHECKADMIN">
          <refCursor name="ISUSER">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERLOGIN" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="USERPASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SYSTEM" name="GETCARS">
          <refCursor name="CARS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="MARK" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="MODEL" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="NUMBEROFCAR" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SYSTEM" name="GETDRIVERS">
          <refCursor name="DRIVERS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NAME" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="SURNAME" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="EMAIL" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="4" columnName="AGE" providerType="Int16" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SYSTEM" name="GETHISTORY">
          <refCursor name="HISTORY">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="COSTFORTAXI" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="FROMLOCATION" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="TOLOCATION" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="TIME" providerType="TimeStamp" allowDBNull="true" nativeDataType="Timestamp" />
            <metadata columnOrdinal="4" columnName="RAITING" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SYSTEM" name="GETSTATISTICS">
          <refCursor name="STATISTICOFTAXI">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="&quot;TO_CHAR(TIME,'YYYY-MM-DD')&quot;" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="1" columnName="&quot;SUM(COSTFORTAXI)&quot;" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="SYSTEM" name="CHECKUSER">
          <refCursor name="ISUSER">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERLOGIN" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="USERPASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##ADMIN" name="CHECKADMIN">
          <refCursor name="ISUSER">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERLOGIN" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="USERPASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##ADMIN" name="GETCARS">
          <refCursor name="CARS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="MARK" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="MODEL" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="NUMBEROFCAR" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##ADMIN" name="GETDRIVERS">
          <refCursor name="DRIVERS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="NAME" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="SURNAME" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="EMAIL" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="4" columnName="AGE" providerType="Int16" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##ADMIN" name="GETSTATISTICS">
          <refCursor name="STATISTICOFTAXI">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="&quot;TO_CHAR(TIME,'YYYY-MM-DD')&quot;" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="1" columnName="&quot;SUM(COSTFORTAXI)&quot;" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##USER" name="CHECKUSER">
          <refCursor name="ISUSER">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERLOGIN" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="USERPASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##USER" name="GETHISTORY">
          <refCursor name="HISTORY">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="COSTFORTAXI" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="FROMLOCATION" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="TOLOCATION" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="TIME" providerType="TimeStamp" allowDBNull="true" nativeDataType="Timestamp" />
            <metadata columnOrdinal="4" columnName="RAITING" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##USER" name="GETCARSNAMES">
          <refCursor name="CARSNAMES">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="MARK" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="MODEL" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="C##USER" name="GETUSER">
          <refCursor name="GETUSER">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERLOGIN" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="1" columnName="USERPASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="2" columnName="USERNAME" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="3" columnName="USERSURNAME" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
            <metadata columnOrdinal="4" columnName="USERNUMBER" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
</configuration>